/* Meghan Greene 10/3/2026 - Module 4.2 */

h1 {
    text-align: center;
    color: deeppink;
}

#image-gallery {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
#image-box-1 {
    border: 2px solid;
    color: deeppink;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
}
}
#image-box-2 {
    border: 2px solid;
    color: deeppink;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
}
}
#image-box-3 {
    border: 2px solid;
    color: deeppink;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
}
h3 {
    text-align: center;
    color: deeppink;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    font-size: .75em;
    color: black;
}

#bottomlink {
    margin-top: 40px;
    float: right;
    margin-bottom: 20px;
}

a:hover {
    text-decoration: underline;
}

