/* Meghan Greene 10/3/2026 - Module 4.2 */

h1 {
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
    color: rgba(198,16,116,1.00);
}

#image-gallery {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
img.medium {
    width:220px;
    height:360px;}
#image-box-1, #image-box-2, #image-box-3 {
    border: 2px solid;
    border-color: rgba(215,15,121,1.00);
    padding: 15px;
    border-radius: 8px;
}
h3 {
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
    color: rgba(198,16,116,1.00);
}

figure {
    text-align: center;
}

figcaption {
    font-family: Arial, Verdana, sans-serif;
    font-style: italic;
    font-size: .75em;
    color: rgba(31,31,31,1.00);
}

a {
    margin-top: 40px;
    float: right;
    margin-bottom: 20px;
}

a:hover {
    text-decoration: underline;
}

