/*
    Name: Meghan Greene
    Date: 09/27/2026
    Assignment: Module 3.3
*/

h1 {
    text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "sans-serif";
}
h3 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "sans-serif";
	font-weight: 500;
}
#left {
    width: 45%;
    float: left;
	border: 1px solid red;
    border-radius: 15px;
	padding: 10px;

}

#right {
    width: 45%;
    float: right;
	border: 1px dashed red;
    border-radius: 15px;
	padding: 10px;
}
#space {
	width: 100%;
	margin-top: 60%;
	
}
.link {
	padding-top: 245px;
	padding-right: 10px;
	float: right;
	width: 45%;
	text-align: right;
}

#books {
    font-weight: 300;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "sans-serif";
	
}

#lessons {
	font-weight: 300;
	list-style-type: upper-roman;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "sans-serif";
	
}


a:link {text-decoration: none;
	color:blue;
	font-weight: bold;
}
a:visited {
	color: purple;
}
a:active {
	color: rebeccapurple;
}
a:hover {
    text-decoration: underline;
}
